/* @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    text-align: center;
    list-style-position: inside;
    font-family: Helvetica, sans-serif;
    height: 100vh;
}

h1 {
    font-size: 3.5rem;
    /* font-family: 'Press Start 2P', sans-serif; */
    font-family: 'Audiowide', sans-serif;
}

img {
    width: 30rem;
    height: 20rem;
}

h2 {
    font-size: 2rem;
    text-decoration: underline;
}

p ul li {
    font-size: 1rem;
    font-family: Helvetica, sans-serif
}

.card-container {
    background: blue;
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    perspective: 1000px;
}

.flip-card {
    display: flex;
    justify-content: center;
    width: 10.5%;
    height: 25%;
    margin: 5px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform .5s;
}

.front-face, .back-face {
    width: 80px;
    height: 100px;
    padding: 2px;
    position: absolute;
    border-radius: 5px;
    background: pink;
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
}

.flip-card:active {
    transform: scale(0.97);
    transition: transform .2s;
}

.flip-card.flip {
    transform: rotateY(180deg);
}

.card-container .flip-card .match {
    backface-visibility: visible;
}

.flip-card.unmatched {
    backface-visibility: hidden;
}

.flip-card.disabled {
    pointer-events: none;
}

/* get rid of background color later
.card-container {
    display: grid;
    grid-gap: 5px 20px;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    background-color: #2196F3;
    justify-content: center;
    /* text-align: center;
    display: inline-block;
    grid-template-columns: repeat(7, 1fr) minmax(200px, 1fr);
    overflow: hidden;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 15px; 
} */

/* .card-container {
    display: inline-grid;
    background-color: pink;
    grid-template-columns:
    auto auto auto auto auto auto auto auto; 
    grid-gap: 2rem;
  } */

/* .flip-card {
    display: grid;
    grid-gap: 5px 20px;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    height: 100px;
    width: 80px;
    border: 2px solid black;
    background-color: hotpink;
} */

/* change background color to transparent later
.flip-card {
    height: 100px;
    width: 80px;
    border: 2px solid black;
    background-color: transparent;
    perspective: 1000px;
    background-image: url("./images/baby-yoda-card-face.png")
}

.flip-card-outer {
    position: relative;
    width: 80px;
    height: 100px;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-outer {
    transform: rotateY(180deg);
}

.flip-card-front .flip-card-back {
    position: absolute;
    width: 80px;
    height: 100px;
    backface-visibility: visible;
}

.flip-card-back {
    background-color: transparent;
}

.flip-card-front {
    background-color: transparent;
    transform: rotateY(180deg);
}

#card {
    width: 80px;
    height: 100px;
} */

button {
    /* center button */
    margin: 10px;
}

/* stretch goal: makes cards shake if wrong */